@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

$blue1: #01497c;
$blue2: #014f86;
$blue3: #2a6f97;
$blue4: #2c7da0;
$blue5: #468faf;
$black: #000;
$white: #fff;
$gray1: #efefef;
$gray2: #777777;
$gray3: #e8e8e8;

$heading1: normal normal 600 48px/180% "Poppins", sans-serif;
$heading2: normal normal 600 39px/180% "Poppins", sans-serif;
$heading3: normal normal 600 31px/180% "Poppins", sans-serif;
$heading4: normal normal 600 25px/180% "Poppins", sans-serif;
$heading5: normal normal 600 20px/180% "Poppins", sans-serif;
$heading6: normal normal 600 16px/180% "Poppins", sans-serif;
$heading7: normal normal 600 12px/180% "Poppins", sans-serif;
$regular: normal normal 400 16px/180% "Poppins", sans-serif;
$small: normal normal 400 12px/180% "Poppins", sans-serif;
$extraSmall: normal normal 400 10px/180% "Poppins", sans-serif;

body {
  margin: 0;
  font: $regular;

  nav {
    padding: 20px 80px;
    background-color: $blue1;

    ul {
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin-block-start: 0;
      margin-block-end: 0;

      li {
        display: inline;
        margin-right: 20px;

        &:first-child {
          margin-right: 50px;
        }

        a {
          color: $white;
          text-decoration: none;
        }

        .logo {
          display: inline;
        }

        .askquestion {
          background-color: $white;
          color: $blue1;
          padding: 10px;
          font: $heading6;
          border-radius: 5px;
        }
        form {
          display: inline;

          input {
            height: 45px;
            box-sizing: border-box;
            padding: 0 20px;
            border: none;
            width: 500px;
            outline: none;
          }
        }

        &:last-child {
          margin-left: 50px;
        }
      }
    }
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 200px;
    form {
      width: 50%;
      
      .title {
        font: $heading3;
        color: $blue1;
      }

      .form-group {
        input {
          width: 100%;
          height: 60px;
          border: solid 1px $gray1;

          &:first-child::before {
              content: "usename";
              font-size: 30px;
              display: block;
          }
        }
      }
    }

    .illustration {
      width: 50%;
    }
  }
}
